'scopeName': 'source.ijvm'
'name': 'IJVM'
'fileTypes': ['jas']

'patterns': [
  {
    'name': 'comment.line.double-slash.ijvm'
    'match': '\/\/.*'
  }
  {
    'name': 'keyword.control.ijvm'
    'match': '(?i)(?:bipush|dup|err|goto|halt|iadd|iand|ifeq|iflt|if_icmpeq|iinc|iload|in|invokevirtual|ior|ireturn|istore|isub|ldc_w|nop|out|pop|swap|wide)\\b'
  }
  {
    'name': 'constant.numeric.ijvm'
    'match': '(?i)\\b(\\d+|0x[a-z\\d]+)\\b'
  }
  {
    'name': 'keyword.other.ijvm'
    'match': '(?:\\.end-method|\\.var|\\.end-var|\\.main|\\.end-main|\\.constant|\\.end-constant)\\b'
  }
  {
    'name': 'entity.name.tag'
    'match': '(\\w+:)'
  }
  {
    'name': 'meta.function.ijvm'
    'captures':
      '1':
        'name': 'keyword.other.ijvm'
      '2':
        'name': 'entity.name.function.ijvm'
    'match': '(\\.method)\\s+(\\w+)\\s*(.*)'
  }
]
